# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/
.idea/

# Ignore virtual environment directories
venv/
.env/

# Ignore data files
*.csv
*.pkl
*.h5
*.db

# Ignore visualization outputs
task6/visualizations/mfccs/
task6/visualizations/spectrograms/
task6/visualizations/waveforms/

# Ignore model files
task6/models/

# Ignore spectrogram data
task6/spectrograms_data/

# Ignore results
task6/results/tabular_model_comparison.csv


# Ignore system files
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
*.tmp
.ipynb_checkpoints